<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div style="height: 50px;" class="col-lg-12  mt-2">
              <div id="respuesta-request" class=" col-lg-9 m-auto"></div>
            </div>
            <div class="col-lg-7 m-auto text-center">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 mb-4 text-dark">Iniciar sesión</h1>
                  <p class=" color1">Bienvenido a Pass</p>
                </div>
                <form id="dataForm" class="user" method="POST" action="">
                  <div class="form-group">
                    <input id="email" type="email" class="form-control form-control-user" name="email" value="" required autocomplete="email" placeholder="email">
                  </div>
                  <div class="form-group">
                    <input id="password" type="password" class="form-control form-control-user" name="password" required autocomplete="current-password" placeholder="password">
                  </div>

                  <input type="submit" id="btn-login" class="btn btn-danger btn-block  form-control-user btn-style-translate01" value="Ingresar">
                </form>
                <hr>
                <!--<div class="mb-rem01">
                  <a href="" class="btn-link a color1 ">no tengo cuenta. Quiero registrarme</a>
                </div>
                <div class="">
                  <a class="btn-link a color1 " href="">
                    ¿Olvidaste tu contraseña?
                  </a>
                </div> -->               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
