<!--<div class="container-fluid p-2">
  <div class="m-auto">
    <div id="logo">
      <h1>LM</h1>
    </div>
  </div>
  <div class="card-post_avatar" style=" width: 50px; height: 50px; display: flex; align-items: center; ">
    <p [style.backgroundImage]="'url(./assets/images/AggCO.png)'" style="background-size: cover; background-position: left; width: 95%; height: 25px; margin:auto;"></p>
  </div>
</div>-->

<!--<div class="container p-0 m-0">
  <div class="row">
    <div class="col-lg-9 container-image" [style.backgroundImage]="'url(./assets/images/fiesta.jpg)'" style="background-size: cover; background-position: center; height: 100vh;">
    </div>
    <div class="col-lg-3 col-ms-12 col-md-12" style="min-height: 100vh; ">
      <div class="text-center" style="text-align: center;">
        <h1>LM</h1>
        <p>Eventos</p>
        <a href="https://sandbox.mercadopago.com.ar/checkout/v1/redirect?pref_id=335570711-09082e5f-1852-4d32-bade-399dd47ef04f">Pagar</a>
      </div>
    </div>
  </div>
</div>-->
<script src="https://sdk.mercadopago.com/js/v2"></script>
   <script>
       const mp = new MercadoPago('APP_USR-1fd52210-c58b-4843-b8af-ca4e0e429e7d');
       // Add step #3
   </script>
<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center" >
    <div class="col-lg-5">
      <div class="card o-hidden border-0 shadow-lg my-5" style="min-height: calc(100vh - 90px); ">
        <div class="card-body p-0">
          <div class="row">
            <div style="height: 50px;" class="col-lg-12  mt-2">
            </div>
            <div class=" m-auto">
              <div class="card-post_avatar" [style.backgroundImage]="'url(./assets/images/fiesta.jpg)'" style="background-size: cover; background-position: 50%; width: 64px; height: 64px; margin: auto;">
              </div>
              <div class="p-5">
                <div class="text-center">
                  <div class="mb-2">
                    <h1 class="h4 mb-2 text-dark">LM Eventos</h1>
                    <small class="p-3">
                      *Para ingresar a este evento debe abonar y a continuacion se le presentara un formulario
                      para agregar sus datos y poder recibir la invitacion con el pase qr a su correo electronico, 
                      por favor ingrese datos correctos ya que esto es tomado en cuanta para el acceso al evento.</small>
                  </div>
                  <a href="{{url}}">
                    <button class="btn btn-primary">Pagar</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

